@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

.corpo{
    overflow-x: hidden;
}

body{
    background-color: black;
}

.principal{
    background-image: url(../img/jovens.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    padding-bottom: 200px;
}
.principal h1, .principal h3{
    color: white;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Faz o elemento ocupar toda a tela */
    overflow: hidden;
  }
  
  .video-container video {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo cubra toda a área sem distorcer */
    transform: translateX(-50%);
  }
  
  .conteudo h1, .conteudo p{
    margin-top: 150px;
    position: relative;
    z-index: 1;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    color: white;
  }
.conteudo p{
    font-size: 40px;
    margin-top: -50px;
}

.principal h1{
    margin-left: -9%;
    align-items: center;
    margin-top: -90px;
    font-size: 50px;
}

.principal h3{
    margin-left: -18%;
    font-size: 20px;
}

.blocoTextos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Adicionando um gap para melhor visualização */
    opacity: 0.8;
}

.bloco{
    margin: 4%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.principal2{
    width: 120%;
    height: 120%;
    object-fit: cover;
    background-image: url(../img/pessoasadorando.jpg);
}

.apresentacao{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 4%;
    color: white;
    justify-content: center;
}

.apresentacao h3{
    font-size: 20px;
    text-align: center;
}

.NomeFotoCargo h1{
    margin-bottom: -40px;
}
.NomeFotoCargo img{
    max-width: 100%;
    border-radius: 20px;
    margin: auto;
    margin-top: 13px;
}
.descricao p{
    margin: auto;
    background-color: white;
    gap: 10px; /* Adicionando um gap para melhor visualização */
    opacity: 0.8;
    color: black;
    padding-bottom: 25px;
    max-width: 100%;
    text-align: justify;
    border-radius: 20px;
    font-size: 25px;
    padding: 5.7%;
    overflow-x: visible;
}

#h1{
    text-align: center;
    color: white;
    margin-bottom: -70px;
}

.terceiraParte{
    background: linear-gradient(rgb(66, 66, 66), rgb(0, 0, 0));
}

.apresentacaoPastor{
    margin-left: 10%;
}

@media screen and (max-width: 1000px){
    .blocoTextos{
        grid-template-columns: 1fr;
    }
    
}