@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body{
    background-color: rgb(206, 206, 206);
}

main{
    min-width: 280px;
    max-width: 1020px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.836);
    padding: auto;
    border-radius: 20px;
    margin-top: 15px;
}  

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}

.logo{
    margin-left: 25%;
}

header{
    background-color: black;
    width: 100%;
    padding: 10px;
}

.logo,.sociais{
    width: 25%;
}

.logo i{
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.logo span{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.menu{
    width: 50%;
    margin-left: 32%;
}

.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 12%;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 30px;
    left: 0px;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.sociais button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5%;
}

.sociais button i{
    font-size: 20px;
    color: white;
}

.sociais button i:hover{
    font-size: 22px;
    color: rgb(206, 206, 206);
}

h1{
    text-align: center;
    padding: 5%;
}

h2{
    text-align: center;
    margin-top: 30px;
}

p{
    font-size: 25px;
    text-align: justify;
    margin-top: 20px;
    margin-inline: 10%;
}

img, .img-top img{
    margin: auto;
    display: block;
    width: 60%;
    border-radius: 10px;
}

img{
    margin-top: 5%;
}

@media screen and (max-width: 900px){
    main{
        margin-top: 0px;
        border-radius: 0px;
    }
    .menu nav a{
        padding-right: 5%;
    }

    .logo{
        margin-left: 1%;
    }

    .sociais{
        padding: 2px;
        display: block;
        margin-left: 65%;
        margin-top: -38px;
        margin-bottom: -10px;
    }

    .sociais button{
        margin-bottom: 5px;
    }

    .container{
        margin-top: -10px;
    }

    .menu{
        width: 20%;
        display: flex; /* Adiciona flexbox */
        justify-content: center; /* Centraliza os itens */
        margin-left: 20%;
        margin-right: -15%;
    }
    
    .menu nav {
        display: flex; /* Garante que os links fiquem lado a lado */
        gap: 2px; /* Espaçamento entre os links */
    }
    
    .menu nav a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        position: relative;
        display: inline-flex; /* Garante que fiquem lado a lado */
    }

    img, .img-top img{
        width: 70%;
    }
}